@import "tailwindcss";   

@theme {
    --primary-color: #4a90e2;
    --secondary-color: #50e3c2;
    --background-color: #f5f7fa;
    --text-color: #333333;
    --border-color: #e0e0e0;
    --hover-color: #d1d1d1;
    --active-color: #c1c1c1;
}